{% extends 'tienda/base.html' %}

<!-- Cargar Static -->
{% load static%}

{% block content %}

<!-- Login -->
<section>
    <div class="login-container">
        <div class="card login-form my-5">
            <div class="card-body px-5">
                <h3 class="card-title text-center mt-3 mb-3">Inicio de Sesión</h3>
                <div class="card-text">
                    <form class="login-form" action="" method='POST'>
                        {% csrf_token %}    
                        <div class="form-group">
                            <label for="id_username" class="mb-1 text-f" for="exampleInputEmail1">Usuario</label>
                            <input type="text" name="username" value=" " id="id_username" class="form-control form-control-sm p-3 mb-5">
                        </div>
                        <div class="form-group">
                            <label for="id_username" class="mb-1 text-f" for="exampleInputPassword1">Contraseña</label>
                            <input type="password" name = "password" value="" id="id_password" class="form-control form-control-sm p-3 mb-2">
                        </div>
                        <div class="btn-center mb-3">
                            <button type="submit" class="btn btn-primary btn-login btn-block">Iniciar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock content %}